In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("..\..\data_sets\lsd_math_score_data.csv")

In [5]:
data.columns

Index(['Time_Delay_in_Minutes', 'LSD_ppm', 'Avg_Math_Test_Score'], dtype='object')

In [6]:
type(data)

pandas.core.frame.DataFrame

In [13]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,HIGH SCHOOL GPA,TIME_SCORE
0,5,1.17,78.93,3.1572,0.2
1,15,2.97,58.20,2.3280,0.6
2,30,3.26,67.47,2.6988,1.2
3,60,4.69,37.47,1.4988,2.4
4,120,5.83,45.65,1.8260,4.8
5,240,6.00,32.92,1.3168,9.6
6,480,6.41,29.97,1.1988,19.2

In [12]:
data["HIGH SCHOOL GPA"] = (data["Avg_Math_Test_Score"]/100)*4
data["TIME_SCORE"] = (data["Time_Delay_in_Minutes"]/100)*4

In [14]:
clean_data = data[["HIGH SCHOOL GPA","TIME_SCORE"]]

In [16]:
type(clean_data)

pandas.core.frame.DataFrame

In [19]:
y = data[["Avg_Math_Test_Score"]]
type(y)

pandas.core.frame.DataFrame

In [24]:
x = data[["Time_Delay_in_Minutes"]]

In [25]:
data

   Time_Delay_in_Minutes  LSD_ppm  HIGH SCHOOL GPA  TIME_SCORE
0                      5     1.17           3.1572         0.2
1                     15     2.97           2.3280         0.6
2                     30     3.26           2.6988         1.2
3                     60     4.69           1.4988         2.4
4                    120     5.83           1.8260         4.8
5                    240     6.00           1.3168         9.6
6                    480     6.41           1.1988        19.2